{% extends 'main.html' %}
{%load static%}

{%block content%}
{%for obj in About_obj %}

<section class="background-image" 
style="width: 100%;
height: 500px;
position: relative;
background-image: url('{{obj.About_Us_Top_Background_Image.url}}');
background-repeat: no-repeat;
background-size: cover;
background-position: center;"
>
    <!-- <img src="{{obj.About_Us_Top_Background_Image.url}}" alt="img"> -->
    <div class="aboutus">
        <h1>{{obj.About_Us_Title}}</h1>
        <p>{{obj.About_Us_Description|linebreaksbr}}</p>
    </div>
</section>


<section class="main-frame">
    <div class="content">
        <img src="{{obj.Where_It_All_Began_Image.url}}" alt="image">
        <div class="paragraph">
            <div class="ourstory">
                <p>{{obj.OurStory_Title}}</p>
            </div>
            <h1>{{obj.Where_It_All_Began_Title}}</h1>
            <p>{{obj.Where_It_All_Began_Description | linebreaksbr}}</p>
        </div>
    </div>
</section>

<div class="ourmission">
    <div class="ourmissionh1">
        <h1>{{obj.Our_Mission_Title}}</h1>
    </div>

    <div class="ourmissionpara">
        <p>{{obj.Our_Mission_Description|linebreaksbr}}</p>
    </div>
</div>

<div class="ratings">
    <div class="testimonals">
        <p>{{obj.Testimonial_Title}}</p>
    </div>
    <div class="rate-quote">
        <h1>{{obj.What_People_Are_Saying_Title}}</h1>
    </div>

    <div class="rate-row">
        {%for Testi in Testimonial_obj%}
        <div class="rate-col-1">
                <div class="rate-icons">
                    <img src="{% static 'images/star_3.png' %}" alt="">
                    <img src="{% static 'images/star_3.png' %}" alt="">
                    <img src="{% static 'images/star_3.png' %}" alt="">
                    <img src="{% static 'images/star_3.png' %}" alt="">
                    <img src="{% static 'images/star_3.png' %}" alt="">
                </div>

                <div class="rate-para">
                    <h2>{{Testi.Title}}</h2>
                    <p>{{Testi.Body}}</p>

                    <h2>{{Testi.Full_Name|linebreaksbr}}</h2>
                </div>
        </div>

        {%endfor%}
    </div>
</div>

{%endfor%}

{%endblock content%}

