{%extends 'main.html'%}
{%load static%}
{%block content %}
{%if post_not == True %}
<section class="footer_get_touch_outer">
  <div class="container-brochure">
    <div class="footer_get_touch_inner grid-70-30">
      <div class="colmun-70 get_form">
        <div class="get_form_inner">
          <div class="get_form_inner_text">
            <h3>Enter your details to download Brochure</h3>
          </div>
          <form action="{%url 'Brochure' %}" method = "POST" >
            {%csrf_token%}
            <div class="grid-50-50">
              <input name="name" class="brochure-text" type="text" placeholder="First Name">
              <input name="email" class="brochure-text" type="text" placeholder="Last Name">
              <input name="number" class="brochure-email" type="email" placeholder="Email">
              <input name = "messages" class="brochure-phone" type="tel" placeholder="Phone">
            </div>
            <div class="grid-full">
              <textarea class="brochure-textarea" placeholder="Tell us about your thoughts" cols="30" rows="10"></textarea>
              <input class="submit-brochure" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>       
    </div>
  </div>
</section>
{%else%}
    <!-- Write the div code here , you can also comment html forum make sure you comment if else and
    endif and  you write the code of three divs and after finishig put code here and test 
    if it shows an error it is probably beause html comment cannot comment django if endif and else not 
    sure
  -->
{% endif %}
{%endblock content%}