{%extends 'main.html'%}
{%load static%}
{%block content %}


<section class="contactlist">

    {%for contact in contactus%}
	<img class = "contactlist-img" src=" {{contact.Background_Image.url}}" alt="">
    <div class="contact">
        <div class="contactform">
            <div class="contactpara">
              
                <h1>{{contact.Title}}</h1>
                <p>{{contact.Description}}</p>
            </div>
      
            <div class="icons">
                <img src="{%static 'images/Facebook - Negative.png'%}" alt="">
                <img src="{% static 'images/Instagram - Negative.png' %}" alt="">
            </div>
           <form action="" method = "POST">
                {% csrf_token %}
             <input type="text" name="name" placeholder="Name">
             <input type="email" name="email" placeholder="Email">
             <input type="Number" name="phoneno" placeholder="Phone No.">
             <textarea name="help" id="textarea" cols="30" rows="10" placeholder="How can we help you out?"></textarea>
             <button class="btn-contact">Send</button>
           </form>
        </div>

        <div class="contactinfo">
            {%for setting in settings %}
            <div class="address">
                <h1>{{setting.Office_Address_Title}}</h1>
                <ul>
                    <li>{{setting.Office_Address1}}</li>
                    <li>{{setting.Office_Address2}}</li>
                    <li>{{setting.City_1}} {{setting.Office_Address_Zip_Code}}</li>
                </ul>
            </div>

            <div class="Factoryaddress">
                <h1>{{setting.Factory_Address_Title}}</h1>
                <ul>
                    <li>{{setting.Factory_Address1}}</li>
                    <li>{{setting.Factory_Address2}}</li>
                    <li>{{setting.City_2}} {{setting.Factory_Adress_Zip_Code}}</li>
                </ul>
            </div>

            <div class="phone">
                <h1>{{setting.Contact_Title}}</h1>
                <ul>
                    <li>{{setting.Contact_Number_1 }}</li>
                    <li>{{setting.Contact_Number_2 }}</li>
                    <li>{{setting.Contact_Number_3 }}</li>
                </ul>
            </div>

            <div class="emailus">
                <h1>{{setting.Email_Title}}</h1>
                <ul>
                   {{setting.Offical_Email_Id }}
                </ul>
            </div>
            {%endfor%}
        </div>
        {%endfor%}
    </div>
   
</section>  

 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28517.964718426567!2d88.38796356973268!3d26.688617936794593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e4434f73895953%3A0xe2b54ddd28caf18a!2sSapphire%20uPVC%20windows%20and%20doors%20-%20UPVC%20Window%20Manufacturers%20in%20Siliguri!5e0!3m2!1sen!2sin!4v1655998074888!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{%endblock content%}
