{%extends 'main.html'%}

{%block content%}

{%for obj in Home_obj %}  
    
<section>
    <div class="background">
    <!-- style="width: 100%;
    height: 600px;
    position: relative;
    background-image: url('{{obj.Home_Top_Background_Image.url}}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    @media (max-width: 630px)
    {
    width: 100%;
    height: 450px; 
    } "> -->
        <!-- <img src="{{obj.Home_Top_Background_Image.url}}" alt="img"> -->
        <div class="para">
            <h3>{{obj.Welcome_Title}}</h3>
            <p>{{obj.Welcome_Description}}</p>
        </div>
    </div>

</section>

<main class="container-fluid">
    <div class="main-q">
        <h3>{{obj.What_We_Offer_Title}}</h3>
        <p>{{obj.What_We_Offer_Description}}</p>
    </div>

{%for product2 in Product2|slice:":1"%}
  
    <div class="row-l">
        <div class="col-1">
            <div class="card1">
                <div class="card-head">
                    <h3>{{product2.Product_Name}}</h3>
                </div>
                <div class="card-body">
                    <p>{{product2.Product_HomePage_Description}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn-learnmore"><a href="{%url 'ProductType2' product2.id %}">Read More</a></button>
                </div>
            </div>

            <div class="img">
                <img src="{{product2.Product_HomePage_Image.url}}" alt="">
            </div>
        </div>
    </div>



  
{%endfor%}

{%for product1 in Product1|slice:":1"%}
<div class="row-l">
    <div class="col-2">
        <div class="card2">
            <div class="card-head">
                <h3>{{product1.Product_Name}}</h3>
            </div>
            <div class="card-body">
                <p>{{product1.Product_HomePage_Description}}</p>
            </div>

            <div class="card-footer-2">
                <button class="btn-learnmore2"><a href="{%url 'ProductType1' product1.id %}">Read More</a></button>
            </div>
        </div>

        <div class="img">
            <img src="{{product1.Product_HomePage_Image.url}}" alt="">
        </div>
    </div>
</div>
{%endfor%}


{%for product1 in Product1|slice:"1:2"%}
  
    <div class="row-l">
        <div class="col-1">
            <div class="card1">
                <div class="card-head">
                    <h3>{{product1.Product_Name}}</h3>
                </div>
                <div class="card-body">
                    <p>{{product1.Product_HomePage_Description}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn-learnmore"><a href="{%url 'ProductType1' product1.id %}">Read More</a></button>
                </div>
            </div>

            <div class="img">
                <img src="{{product1.Product_HomePage_Image.url}}" alt="">
            </div>
        </div>
    </div>



  
{%endfor%}


</main>





{%endfor%}



{%endblock content%}
