{%extends 'main.html'%}

{%block content%}

    
<section>
    <div class="background">
        <div class="para">
            <h1>Sapphire</h1>
            <p>Lorem ipsum dolor sit Lorem ipsum dolor sit. Lorem, ipsum. amet consectetur adipisicing elit.
                Excepturi, voluptatibus dolorem?</p>
        </div>
    </div>
</section>

<main class="container-fluid">
    <div class="main-q">
        <h1>What We Offer</h1>
        <p>Here are some Products that we have to Offer. We are the best in our segment and have a great range of
            products to offer in the most reasonable prices.</p>
    </div>


    <div class="row-l">
        <div class="col-1">
            <div class="card1">
                <div class="card-head">
                    <h1>Sapphire</h1>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, doloribus ea? Ex voluptatum
                        voluptate totam cum pariatur, corrupti itaque voluptatem fugiat numquam, dignissimos iure
                        inventore sint dolore corporis ipsum ducimus officia perferendis, expedita quia?</p>
                </div>
                <div class="card-footer">
                    <button class="btn-learnmore">Read More</button>
                </div>
            </div>

            <div class="img">
                <img src="/images/aboutus.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="row-l">
        <div class="col-2">
            <div class="card2">
                <div class="card-head">
                    <h1>Sapphire</h1>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, doloribus ea? Ex voluptatum
                        voluptate totam cum pariatur, corrupti itaque voluptatem fugiat numquam, dignissimos iure
                        inventore sint dolore corporis ipsum ducimus officia perferendis, expedita quia?</p>
                </div>

                <div class="card-footer-2">
                    <button class="btn-learnmore2">Read More</button>
                </div>
            </div>

            <div class="img">
                <img src="/images/aboutus.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="row-l">
        <div class="col-1">
            <div class="card1">
                <div class="card-head">
                    <h1>Sapphire</h1>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, doloribus ea? Ex voluptatum
                        voluptate totam cum pariatur, corrupti itaque voluptatem fugiat numquam, dignissimos iure
                        inventore sint dolore corporis ipsum ducimus officia perferendis, expedita quia?</p>
                </div>

                <div class="card-footer">
                    <button class="btn-learnmore">Read More</button>
                </div>
            </div>

            <div class="img">
                <img src="/images/aboutus.jpg" alt="">
            </div>
        </div>
    </div>

</main>
{%endblock content%}