{%extends 'main.html'%}
{%load static%}
{%block content %}


{%for product1 in Product1 %}
<section class="pvcprofile">

<img src="{{product1.Product_Top_Background_Image.url}}" alt="img">

    <!-- class here is different you are looking at product_type2 class even though it is product_type1-->
    <div class="profile">
        <!-- <h3>{{product1.Product_Name|ljust:"7"}}</h3> -->
        <div class="heading">
            {%if product1.Product_Name|lower == 'Sapphire Floors' %}
            <h3>{{product1.Product_Name|slice:":9"}}</h3>
            <h3>{{product1.Product_Name|slice:"9:"}}</h3>
            {%else%}
                <h3>{{product1.Product_Name|slice:":5"}}</h3>
                <h3>{{product1.Product_Name|slice:"5:"}}</h3>
            {%endif%}
        </div>
        <p>{{product1.Product_Short_Description_1}}</p>
        {%if product1.Website_Link%}
        <button class="btn-more">{{product1.Website_Link}}</button>
        {%endif%}
    </div>
</section>


<div class="door-row1">
    <div class="col-door1">
        <h4>{{product1.Product_Name}}</h4>
        <p>{{product1.Product_Short_Description_2}}</p>
    </div>
</div>

<section class="profile-container">
    <img src="{{product1.Product_Middle_Image.url}}" alt="">
</section>


<div class="content-profile">
    <div class="content1">
        <h3>{{product1.Introduction_Section_Title }}</h3>

        <p>{{product1.Introduction_Section_Description|linebreaksbr}}</p>

            <ul class = "features-product-type" type = "square">

                {% for features in product1.product_type1_features_set.all%}   
                <li>{{features.ProductType1_Feature}}</li>
                {% endfor %} 
           
            </ul>
    </div>

    <div class="content2">
   
        <div class="content-images2">
            <img src="{{product1.Introduction_Section_Image1.url }}" alt="">
            <img src="{{product1.Introduction_Section_Image2.url }}" alt="">
        </div>
        <ul>
        {% for Assurance in product1.product_type1_assurances_set.all%}   
         <li><img src="{%static 'images/check.png' %}" alt="">{{Assurance.ProductType1_Assurance }}</li>
        {% endfor %} 
        <ul>

    </div>
</div>

<div class="structure">
    <div class="structure-img">
        <img src="{{product1.Product_Structure_Image.url}}" alt="img">
    </div>

    <div class="structure-content">
        {% for structure in product1.product_type1_structure_set.all%} 
        {%if structure.Product1_Structure_Title %}  
        <h4>{{structure.Product1_Structure_Title }}</h4>
        {%endif%}

        {%if structure.Product1_Structure_Short_Description %}
        <p>{{structure.Product1_Structure_Short_Description}}</p>
        {%endif%}
        {%endfor%} 

       
    </div>
</div>

<section class="whyus">
    <div class="door-whyus-img">
        <img src="{{product1.Why_Us_Image1.url}}" alt="img">
        <img src="{{product1.Why_Us_Image2.url}}" alt="img">
        <img src="{{product1.Why_Us_Image3.url}}" alt="img">
    </div>

    <div class="whyus-content">
        <h3>{{product1.Why_Us_Title}}</h3>
        <p>{{product1.Why_Us_Description|linebreaksbr}}</p>
    </div>
</section>




{%include 'Sapphire/EndsectionofEveryProduct.html'%}
{%endfor%}
{%endblock content %}
