{%extends 'main.html'%}
{%block content %}




    
<section class="products">
    <div class="productsh1">
        <h2>OUR PRODUCTS</h2>
    </div>

    
    <div class="product-card">
        {%for product2 in Product2%}
        <div class="card-pro">
            <img src="{{product2.Product_ProductPage_Image.url}}" alt="">

            <div class="card-pro-para">
                <h3>{{product2.Product_Name}}</h3>
                <p>{{product2.Product_ProductPage_Description}}</p>
                <button class="btn-read-more"><a href="{%url 'ProductType2' product2.id %}">READ MORE</a></button>
            </div>
       
        </div>
        {%endfor%}
    
    {%for product1 in Product1%}
        <div class="card-pro">
            <img src="{{product1.Product_ProductPage_Image.url}}" alt="">

            <div class="card-pro-para">
                <h3>{{product1.Product_Name}}</h3>
                <p>{{product1.Product_ProductPage_Description}}</p>
                <button class="btn-read-more"><a href="{%url 'ProductType1' product1.id %}">READ MORE</a></button>
            </div>

        </div>
        {%endfor%}

      
    </div>
</section>

{%include 'Sapphire/EndsectionofEveryProduct.html'%}

{%endblock content %}
