{%extends 'main.html'%}
{%load static%}
{%block content %}


{%for product2 in Product2%}

<section class="pvcfloors">

<img src="{{product2.Product_Top_Background_Image.url}}" alt="">

    <div class="floors">
        <!-- <h3>{{product2.Product_Name | linebreaks}}</h3> -->

        <h3>{{product2.Product_Name | slice:":5"}}</h3>
        <h3>{{product2.Product_Name | slice:"5:"}}</h3>

        <p>{{product2.Product_Short_Description_1}}</p>
       
    </div>
</section>

<div class="door-row">
    <div class="col-door">
        <h4>{{product2.Product_Name}}</h4>
        <p>{{product2.Product_Short_Description_2}}</p>
    </div>

    <div class="visitcommo">
       
        {%if product2.Website_Link%}
        <h5>{{product2.Visit_Our_Website_Title}}</h5>
        <p>{{product2.Website_Link}}</p>
        {%endif%}
    </div>
</div>


<section class="profile-container">
    <img src="{{product2.Product_Middle_Image.url}}" alt="">
</section>



<div class="content-profile">
    <div class="content1">
        <h3>{{product2.Introduction_Section_Title}}</h3>
 
        <p>{{ product2.Introduction_Section_Description|linebreaksbr}}</p>

            
             
        <ul>
            {% for features in product2.product_type2_features_set.all%}   
            <li>{{features.ProductType2_Feature}}</li>
            {% endfor %} 
        </ul>
        
  </div>

        <div class="content2">
            <div class="content2-head">
                <h3>{{product2.Visit_Our_Website_Title}}</h3>
            <p><a href="#">{{product2.Website_Link}}</a></p>

            </div>
            <div class="content-images">
                <img src="{{product2.Introduction_Section_Image.url}}" alt="">
            </div>


            <ul>
                {% for Assurance in product2.product_type2_assurance_set.all%}   
                <li><img src="{%static 'images/check.png' %}" alt="">{{Assurance.ProductType2_Assurance}}</li>
                {% endfor %} 
            </ul>
       
        </div>
</div>


<section class="whyus">
    <div class="door-whyus-img">
        <img src="{{product2.Why_Us_Image1.url}}" alt="img">
        <img src="{{product2.Why_Us_Image2.url}}" alt="img">
       <!-- <img src="./images/pp.jpg" alt="img">   --> 
    </div>

    <div class="whyus-content">
        <h3>{{product2.Why_Us_Title}}</h3>
        <p>{{product2.Why_Us_Description|linebreaksbr}}</p>
    </div>
</section>



{%include 'Sapphire/EndsectionofEveryProduct.html'%}
{% endfor %} 

{%endblock content %}

