{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapphire</title>
    <!-- <script src="https://apis.mappls.com/advancedmaps/api/18a8df590ef37040ec455fc9ffe96aa8/map_sdk?v=3.0&layer=vector"></script> -->
    <link rel="stylesheet" href="{% static 'css/newstyle.css' %}">
    

</head>

<body>
    {%include 'navbar.html' %}
    {%block content%}
        

    {%endblock content%}

   
    {%include 'footer.html' %}  
</body>
<!-- <script src="https://apis.mappls.com/advancedmaps/api/18a8df590ef37040ec455fc9ffe96aa8/map_sdk?layer=vector&v=3.0&callback=loadMap" defer async></script> -->

<script src="{% static 'js/index.js' %}"></script>
</html>
