{%load static %}

<header>
    <div class="head">
        <p><i class="fa-solid fa-envelope"></i>@Email</p>
        <p><i class="fa-solid fa-phone-volume"></i>+91 7363030051</p>
    </div>
</header>

<nav>
    <div class="logo">
        logo
    </div>

    <div id="headNavOpen" class="head-nav">
        <h2>Sapphire</h2>

        <button id="navBarOpen">| | |</button>
    </div>
    <div id="navBar" class="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="aboutus.html">About us</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="ourwork.html">Our Works</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </div>
</nav>