{%load static %}
{%for setting in settings%}
<header>
    <div class="head">
        <p><img src="{%static 'images/email.png' %}" alt="">{{setting.Offical_Information_Email_Id}}</p>
        <p><img src="{%static 'images/telephone.png' %}" alt="">{{setting.Contact_Number_2}}</p>
    </div>
</header>

<nav>
    <div class="logo">
        <img src="{{setting.Main_Logo.url}}" alt="img">
    </div>

{%endfor%}
    <div id="headNavOpen" class="head-nav">
        <h3>Sapphire</h3>

        <button id="navBarOpen">| | |</button>
    </div>
    <div id="navBar" class="nav">
        <ul>
            <li><a href="{%url 'Home' %}">Home</a></li>
            <li><a href="{%url 'Aboutus' %}">About us</a></li>
            <li><a href="{%url 'Product'%}">
                <div class="dropdown">
                    <button class="dropbtn">Products</button>
                    <div class="dropdown-content">
                    {%for product2  in Product2%}  
                      <a href="{% url  'ProductType2' product2.id %}">{{product2.Product_Name}}</a>
                    {%endfor%}
                    {%for product1  in Product1%}  
                    <a href="{% url  'ProductType1' product1.id %}">{{product1.Product_Name}}</a>
                  {%endfor%}
                  </div>
          </a>
            </li>
            <li><a href="{%url 'Brochure' %}">Brochure</a></li>
            <li><a href="{%url 'Ourwork' %}">Our Works</a></li>
            <li><a href="{%url 'contactus' %}">Contact Us</a></li>
        </ul>
    </div>
</nav>


<div class="stickynavbar">
    <ul class="sticky-ul">
        <li class="sticky-li-facebook"><a href="{{setting.Facebook_Page_Link}}"><img src="{% static 'images/facebook_1.jpeg' %}" alt=""></a></li>
        <li class="sticky-li-insta"> <a href="{{setting.Instagram_Page_Link}}"><img src="{% static 'images/insta_1.jpeg' %}" alt=""></a></li>
        <li class="sticky-li-linkedin"> <a href="{{setting.Twitter_Page_Link}}"><img src="{% static 'images/twitter_1.jpeg' %}" alt=""></a></li>
        <li class="sticky-li-twitter"><a href="{{setting.LinkedIn_Page_Link}}"><img src="{% static 'images/linkedIn_1.jpeg' %}" alt=""></a></li>
    </ul>
</div>