{%load static %}
{%for setting in settings%}
<header>
    <div class="head">
        <p><img src="{%static 'images/email.png' %}" alt="">{{setting.Offical_Information_Email_Id}}</p>
        <p><img src="{%static 'images/telephone.png' %}" alt="">{{setting.Contact_Number_2}}</p>
    </div>
</header>

<nav>
    <div class="logo">
        <img src="{{setting.Main_Logo.url}}" alt="img">
    </div>

{%endfor%}
    <div id="headNavOpen" class="head-nav">
        <h3>Sapphire</h3>

        <button id="navBarOpen">| | |</button>
    </div>
    <div id="navBar" class="nav">
        <ul>
            <li><a href="{%url 'Home' %}">Home</a></li>
            <li><a href="{%url 'Aboutus' %}">About us</a></li>
            <li><a href="{%url 'Product'%}">
                <div class="dropdown">
                    <button class="dropbtn">Products</button>
                    <div class="dropdown-content">
                      <a href="#">Profile</a>
                      <a href="#">Door & Windows</a>
                      <a href="#">Floors</a>
                    </div>
                  </div>
                </a>
            </li>
            <li><a href="{%url 'Ourwork' %}">Our Works</a></li>
            <li><a href="{%url 'contactus' %}">Contact Us</a></li>
        </ul>
    </div>
</nav>